body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh2 {
  margin-top: 20px;
  font-size: 120%;
  
}
.firstItem{
  
}
.flogo {
  position: absolute;
  height: 7.3vh;
  transition: transform .2s; /* Animation */
  margin-top: 0.15%;
  left: 0.5%;
}
.flogo:hover {
  transform: scale(1.03);
}


.ful {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa {
  
  color: #dadce1;
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.fnavbar {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #092653;
  padding-bottom: 5rem ;
  /* border-bottom: var(--border); */
  /* border: 2px solid rgb(255, 12, 12); */
}

/* <ul> */
.fnavbar-nav {
  max-width: 100%;
  height: 100%;
  gap: 10rem;
  display: flex;
  justify-content:  space-evenly;
}

/* <li> */
.fnav-item {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-family: "roboto";
  margin-top: 2%;
}

/* Icon Button */


.ficon-button {
  --button-size: calc(60px * 0.75);
  width: var(--button-size);
  height: var(--button-size);
  /* background-color: #efecee; */
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  transition: transform .2s; /* Animation */
}

.ficon-button:hover {
  filter: brightness(1.5);
  transform: scale(1.04);
}

.ficon-button svg { 
  fill: #dadce1;
  width: 100px;
  height: 50px;
}

.alink{
  color:#dadce1;
  text-decoration: none;
}
.mlink{
  margin-top: 15px;
  color:#dadce1;
  text-decoration: none;
}
/* Dropdown Menu */

.fdropdown {
  position: absolute;
  top: 75px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #092653;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 110%;
  padding: 0rem;
  overflow: hidden;
  transition:height 0.3s ease-in-out;
  z-index: 30;
}

.fmenu {
  
  width: 100%;
}

.fmenu-item {
  height: 50px;
  margin-top: 4px;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 500ms;
  padding: 0.5rem;
}

.fmenu-item .icon-button {
  margin-right: 0.5rem;
}


.fmenu-item .icon-button:hover {
  filter: none;
}

.fmenu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}
